<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>房屋采光计算</title>
    <link type="text/css" rel="stylesheet" href="./assets/css/index.css"/>
    <script type="text/javascript" src="./assets/js/vue.js"></script>
  </head>
  <body>
    <!--<div>比较角度</div>-->
    <!--<div>b 是所在层数，你在3楼 b=3；c 是指遮阳楼的楼层数，挡住你家阳光的楼是18楼，那么 c=18；</div>-->
    <!--<div>tan(a) = (c - b) * 层高 / 楼间距</div>-->
    <!--<div>通过套用公式，算出夹角 a 的度数，然后算出你所在城市冬至日的太阳直射角度，</div>-->
    <!--<div>即90° — 23.5° — 你所在城市纬度，如果冬至日这天的太阳直射角度大于夹角 a 的话，采光就没有问题，</div>-->
    <!--<div>因为冬至日这天是我们国家一年中太阳直射角度最小的时候，冬至日的直射角度都大于 a，那全年采光没有问题。</div>-->
    <div id="house" class="ui-form">
      <div class="ui-form-item"><label>所在城市维度： </label><input type="text" v-model="lat" autofocus/> 度</div>
      <div class="ui-form-item"><label>遮阳楼总高度： </label><input type="text" v-model="block"/> 米</div>
      <div class="ui-form-item"><label>居住层总高度： </label><input type="text" v-model="live"/> 米</div>
      <div class="ui-form-item"><label>与遮阳楼间距： </label><input type="text" v-model="distance"/> 米</div>
      <!-- Math.atan(1) * 360 / (2 * Math.PI) -->
      <!--(遮挡楼层数 * 遮挡楼层高 - 居住楼层 * 居住楼层高) / Math.tan((90 - 23.5 - 所在地维度) * 2 * Math.PI / 360)-->
      <!--(33 * 3 - 18 * 3) / Math.tan((90 - 23.5 - 32.13) * 2 * Math.PI / 360)-->
      <div class="ui-form-item ui-submit-panel">
        <input type="submit" class="ui-button ui-button-success" @click="lighting" value="计算采光数据"/>
      </div>
      <div class="ui-result">
        <div>夏至采光最小楼间距：{{summerDistance}} 米</div>
        <div>您的楼房在夏至时采光{{distance < summerDistance ? '不' : '充'}}足！</div>
        <div>冬至采光最小楼间距：{{winterDistance}} 米</div>
        <div>您的楼房在冬至时采光{{distance < winterDistance ? '不' : '充'}}足！</div>
        <div>全年有{{darkDays}}天采光不足！</div>
      </div>
    </div>
    <script type="text/javascript">
      new Vue({
        el: '#house',
        data: {
          lat: 32.146522,
          distance: 65,
          block: 99,
          live: 33,
          summerDistance: 0,
          winterDistance: 0,
          darkDays: 0
        },
        methods: {
          lighting: function (){
            var tan;
            var h = this.block - this.live;
            var winterAngle = 90 - 23.26 - this.lat; // 冬至太阳入射角
            var summerAngle = 90 + 23.26 - this.lat; // 夏至太阳入射角
            var limitAngle = Math.atan(h / this.distance) * 360 / (2 * Math.PI); // 实际日照需要角度

            tan = Math.tan(summerAngle * 2 * Math.PI / 360);
            this.summerDistance = Math.max(0, Number((h / tan).toFixed(2)));
            tan = Math.tan(winterAngle * 2 * Math.PI / 360);
            this.winterDistance = Math.max(0, Number((h / tan).toFixed(2)));
            this.darkDays = Math.max(0, (2 * ((limitAngle - winterAngle) / 3.92) * 15)).toFixed(2);
          }
        },
        created: function (){
          this.lighting();
        }
      });
    </script>
  </body>
</html>
